<!DOCTYPE html>
<html lang="zh-CN">
<meta name="keywords" content="模切,模切易得通,人才,材料,设备,加工,资讯">
<meta name="description" content="模切易得通官方网站；模切行业采购，工艺，一站式服务平台">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<head>
    <title><%= data.title %></title>
</head>
<body>
<h1>哈哈</h1>
</body>
</html>
